
div.clearfix-wrapper img{
    height: 50px;
    width: 50px;
    border-radius: 49.9%;
    object-fit: cover;
}

div.clearfix-wrapper object{
    height: 50px;
    width: 50px;
    border-radius: 49.9%;
    object-fit: cover;
}

li.clearfix div.clearfix-wrapper{
    display: grid;
    
    /* width: 88%; */
    grid-template-columns: 50px minmax(184px, 270px) 50px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "ava ab time"
    "ava ab .";
}
li.clearfix div.clearfix-wrapper img.oponent{
    grid-area: ava;
    border: 2px solid grey;
}
li.clearfix div.clearfix-wrapper img.oponent.online{
    border: 2px solid #2ecc71;;
}


li.clearfix div.clearfix-wrapper div.about{
    grid-area: ab;
    padding-left: 15px;
    align-self: center;
}

li.clearfix div.clearfix-wrapper div.about p.status{
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    /* min-width: 200px;
    max-width: 230px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2px 0 0 0;
} 
li.clearfix div.clearfix-wrapper span{
    justify-self: end;
    align-self: end;
    padding-right: 5px;
    font-weight: 300;
}
