li.found-users{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: "found-img found-p";
    cursor: pointer;
}

li.found-users:hover{
    background-color: #657c93;
    color: white;
}
.found-users img{
    grid-area: found-img;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    justify-self: end;
    margin: 0;
    border: 2px solid grey;
}

.found-users p{
    grid-area: found-p;
    margin: 0;
    align-self: center;
    padding-left: 10px;
}

.found-users.active img{
    border: 2px solid green;

}