/* .incoming_msg_img {
    display: inline-block;
    width: 20%;
    
  }

  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 80%;
   }
   .received_withd_msg p {
    background: #5ea3d0 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 65%;
  }

  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }

  .received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
} */


/*TEST*/

.message-list li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.message-list li.recived img {
  margin: 6px 8px 0 0;
}

.message-list li.recived p {
  background: #435f7a;
  color: #f5f5f5;
  margin-bottom: 0;
}
.message-list li.recived span {
  display: block;
  
}

.message-list li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
.message-list li.replies p {
  background: #f5f5f5;
  float: right;
}
.message-list li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
.message-list li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;

  word-wrap: break-word;
	overflow-wrap: break-word;

}
