.search{
    grid-area: s;
}

.people-list{
    grid-area: u;
    border-right: 2px solid #eff1f4;
}

.people-list .search {
    padding: 12px 20px 12px 20px;
    border-bottom: 1px solid #eff1f4;
  }

  .people-list input {
    border-radius: 3px;
    border: 1px solid #eff1f4;    padding: 5;
    color: grey;
    /* background: #6a6c75; */
    width: 90%;
    font-size: 14px;
  }
  .people-list .fa-search {
    position: relative;
    left: -25px;
  }
  .people-list ul {
    padding: 0px;
    /* height: 770px; */
  }
  
  .people-list ul li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #eff1f4;
  }
  
  .people-list img {
    float: left;
    height: 50px;
    width: 50px;
  }
  .people-list .about {
    float: left;
    margin-top: 8px;
  }
  .people-list .about {
    padding-left: 8px;
  }
  .people-list .status {
    color: #92959e;
  }

  .clearfix-wrapper{
      padding-left: 20px;
      /* height: 100%; */
      display: block;
      width: auto;
  }

  

  
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .clearfix:hover{
      /* transition: all .2s ease-in-out;
      transform: scale(1.02); */
      cursor: pointer;
    background-color:#eff1f4
    ;      
  }

  .clearfix.active{
    cursor: pointer;
    background-color:#eff1f4;
    border-right: 5px solid #435f7a;

  }
  .list{
      margin: 0;
  }

