div.edit-profile{
    display: grid;
    grid-template-rows: 60px 220px  1fr 1fr 1fr ;
    grid-template-areas: 
    "title"
    "avatar"
    "upload"
    "form"
    "email"
    ;
}

div.edit-profile h5{
    grid-area: title;
    align-self: center;
    justify-self: center;
}
div.edit-profile div.edit-image{
    grid-area: avatar;
    display: grid;
    grid-template-rows: 1fr 20px;
    grid-template-areas: "image" "text-p";
}
div.edit-profile img{
    grid-area: image;
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
    border: 5px solid greenyellow;
}
div.edit-profile h6{
    grid-area: text-p;
    justify-self: center;
    align-self: start;
    margin-top: 10px;
    margin-bottom: 0;
}

div.edit-profile div.file-upload{
    grid-area: upload;
    padding: 0;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

div.edit-profile div.file-upload input{
    margin-left: 10px;
}
form.edit-profile.form {
    grid-area: form;
    padding-left: 10px;
    margin-top: 20px;
    display: block;
}

div.edit-profile button{
    height: 36px;
    width: 100px;
    color: aliceblue;
    background-color: #435f7a;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

div.edit-profile button:disabled{
    background-color: grey;
}


