:root{
    --send-button-hover-color: #2c4862;
}
.send-message-form {
    grid-area: s;
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-areas: "input button"; 
}

.send-message-form input{
    grid-area: input;
}

.send-message-form button{
    grid-area: button;
    justify-self: start;
    background-color: #435f7a;
    width: 100%;
    height: 100%;
    cursor: pointer;
  border: none;
  outline:none
}

.send-message-form button:hover{
    background-color: var(--send-button-hover-color);
}

.send-message-form button i{
    justify-self: center;
    align-self: center;
    font-size: 29px;
    color:white;
}


